# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
*.backup

# Node.js or JS frontend
node_modules/
dist/
.env
.env.*

# Crash log files
crash.log

# macOS/Linux/Windows OS junk
.DS_Store
Thumbs.db

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf